/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 1.3em;
  max-width: 100%;
  position: relative;
  margin: 0px auto;
  background-color: rgb(41, 58, 62);
  color: rgb(180, 180, 180);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

a, a:active, a:visited {
  color: rgb(242, 242, 242);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body > header {
  background-color: #151d1f;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 55px;
  padding-right: 55px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;  
  transition: all 0.4s ease-in-out;
  margin-bottom: 0.5em;
}

body.step2 > header {
  font-size: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

h1, body > header h1 {
  font-size: 1.8em;
  color: rgb(242, 242, 242);
  font-variant: small-caps;
}

h2, #guesses > caption {
  font-variant: small-caps;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.2em;
}

#step-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

#steps {
  width: 200%;
  position: relative;
  left: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;  
  transition: all 0.4s ease-in-out;
}

#steps > div > h1 {
  margin-bottom: 1em;
}

#fail-guess h1, #success h1 {
  margin-bottom: 0.5em;
}

#steps > div {
  width: 50%;
  float: left;
}

body.step1 #steps {
  left: 0px;
}

body.step2 #steps {
  left: -100%;
}

body.step1 #step2, body.step2 #step1 {
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;  
  transition: all 0.4s ease-in-out;
}


#current-guess {
  width: 400px;
  float: left;
}

#fail-guess, #success {
  display: none;
  width: 400px;
  float: left;
}

#guesses {
  width: 400px;
  float: right;
}

#guesses > caption {
  margin-bottom: 0.5em;
}

#guesses td {
  width: 50%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.2em;
  color: rgb(242, 242, 242);
}

label {
  color: rgb(242, 242, 242);
}

input[type="text"] {
  border: 0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 200px;
  background-color: rgb(0, 120, 80);
  color: rgb(242, 242, 242);
  font-size: 3em;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;  
  transition: all 0.1s ease-in-out;
}

input[type="text"]:invalid {
  background-color: rgb(120, 40, 40);
}

input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
  border: 0px;
  font-size: 1.6em;
  background-color: #66909a;
  color: rgb(242, 242, 242);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.guess {
  margin-top: 0.5em;
  font-size: 2.2em;
  color: rgb(242, 242, 242);
}
